      <header class="logo">
        <center>
          <a href="/">Blog</a>
        </center>
      </header>
      <nav class="header">
        <!-- Home -->
        <a href="/">home</a>
        <span class="mui--text-dark-hint">|</span>
		
        <!-- Dashboard -->
        <a href="/dashboard">dashboard</a>
        <span class="mui--text-dark-hint">|</span>

        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
          <a href="" id="logout">logout</a>
        {{else}}
          <a href="/login">login</a>
        {{/if}}
			
		<span class="mui--text-dark-hint">|</span>
		<a href="/admin">admin</a>
        

      </nav>









<h2>{{username}}'s articles</h2>
<form action="/create">
  <button class="" type="submit">New
    article</button>
</form>
{{#each articles as |article|}}
  <div class="">
    <h3>{{article.title}}</h3>
    <div>Created: {{format_date article.createdAt}}</div>
    <div>Updated: {{format_date article.updatedAt}}</div>
    <form action="/edit/{{article.id}}">
      <button class="" type="submit">Edit</button>
    </form>

  </div>
  <div class=""></div>
{{/each}}